
.player {
    background-color: #6a9e64;
    height: 25px;
    width: 25px;
}

.cell {
    width: 25px;
    height: 25px;
    border: 1px solid #777;
    display: inline-block;
    vertical-align: top;
}

.grid {
    display: inline-block;
    float: left;
}

.finalText {
    font-size: 30px;
    color: #3c8661;
    margin-left: 10px;
    font-weight: 600;
}

.score {
    display: inline-block;
    margin-left: 10px;
    font-size: 17px;
}

.steps {
  font-size: 12px;
}
